/**
 * @name         Bobatea
 * @description  Custom made for the babybear
 * @author       Ghost8797#4706
 * @version      2.10
 */

@import url('https://fonts.googleapis.com/css?family=Emilys+Candy');
@import url('https://ghost8797.github.io/Themes/RadialStatusX.theme.css');

/* Loading Screen */
@keyframes loaderFade {
    0% {
        opacity: 0;
        pointer-events: all
    }

    10% {
        opacity: 1;
        pointer-events: all
    }

    90% {
        opacity: 1;
        pointer-events: all
    }

    100% {
        opacity: 0;
        pointer-events: none;
        display: none
    }
}

@keyframes loader {
    0% {
        transform: translate(-50%, -50%) scaleX(0);
        transform-origin: left center
    }

    100% {
        transform: translate(-50%);
        transform-origin: left center
    }
}

.full-motion body::before {
    content: 'Loading Bobatea v2.10';
    top: 50%;
    left: 50%;
    width: 250px;
    height: 4px;
    position: fixed;
    z-index: 3000;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, .14), inset 0 0 0 100vmax var(--lv1), 0 0 0 100vmax rgba(255, 255, 255, .05), 0 0 0 100vmax var(--lv1);
    color: var(--main);
    text-align: center;
    line-height: 50px;
    font-size: var(--size1);
    animation: loaderFade 5.5s linear forwards;
    opacity: 0;
    pointer-events: none
}

.full-motion body::after {
    content: '';
    top: 50%;
    left: 50%;
    width: 250px;
    height: 4px;
    position: fixed;
    z-index: 3000;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0px 0px var(--hover);
    transform-origin: left center;
    background: var(--accent);
    animation: loader 5.5s linear, loaderFade 5.5s linear forwards;
    opacity: 0;
    pointer-events: none
}

:root {
    --theme-name: 'Bobatea';
    --theme-version: '2.10';
    --Color1: #ffb9df;
    --Color2: #1b0af1;
    --Color3: #efe993;
    --Color4: #FFC0CB;
    --Color5: #fffc47;
    --Chat: #aef5ff;
    --links: #b3ffb5;
    --main: #47ceff;
    --border: #ffbc57;
    --border2: #ff75a1;
    --hover: #ff9900;
    --hover2: #b35900;
    --dark: #0c0e0f;
    --medium: #101214;
    --light: #131517;
    --online: #43b581;
    --idle: #faa61a;
    --dnd: #f04747;
    --offline: #636b75;
    --invisible: #747f8d;
    --streaming: #643da7;
    --home-color: var(--HomeButtonImg);
    --home-size: 64px;
    --spoiler-blur: 5px;
    --shadow: rgba(0, 0, 0, .4);
    --alert-display: block;
    --accent: var(--main);
    --TB-tr-roundness: var(--window-roundness);
    --tint: rgba(var(--tint-colour), var(--tint-brightness));
    --white-half: rgba(255, 255, 255, 0.025);
    --white: rgba(255, 255, 255, 0.05);
    --white-double: rgba(255, 255, 255, 0.1);
    --white-triple: rgba(255, 255, 255, 0.15);
    /*
    --gradient: linear-gradient(var(--gradient-direction), rgb(var(--gradient-primary)), rgb(var(--gradient-secondary)));
    --gradient-20: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.2), rgba(var(--gradient-secondary), 0.2));
    --gradient-50: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.5), rgba(var(--gradient-secondary), 0.5));
    --gradient-90: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.9), rgba(var(--gradient-secondary), 0.9));
    --text-shadow: 1;
    --chat-embed: var(--background-secondary);
    */

    /* Background image variables */
    --background-image: url('https://cdn.discordapp.com/attachments/702702557478256812/1101801629675704421/hehe.jpg');
    /* Main background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
    --background-image-blur: 0px;
    /* Blur intensity of --background-image | Must end in px | DEFAULT: 5px */
    --background-image-size: cover;
    /* Size of the background image | DEFAUT: cover | OPTIONS: cover, contain */
    --background-image-position: center;
    /* Position of background image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */

    /* Popout & Modal variables */
    --popout-modal-image: var(--background-image);
    /* Background image for popouts and modals | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
    --popout-modal-blur: 0px;
    /* Blur intensity of --popout-modal-image | Must end in px | DEFAULT: 5px */
    --popout-modal-size: cover;
    /* Size of the popout/modal image | DEFAUT: cover | OPTIONS: cover, contain */
    --popout-modal-position: center;
    /* Position of popout/modal image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */

    /* Home image variables */
    --home-button-image: url('https://cdn.discordapp.com/attachments/861291534782562324/1102860727477338122/oooo.jpg');
    /* Home button image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
    --home-button-size: cover;
    /* Size of the home button image | DEFAUT: cover */
    --home-button-position: center;
    /* Position of home button image | DEAFULT: center */

    /* Brightness variables */
    --serverlist-brightness: 0.2;
    /* Brightness for serverlist | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
    --left-brightness: 0.2;
    /* Channels and DM list brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
    --middle-brightness: 0.3;
    /* Chat brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.6 */
    --right-brightness: 0.3;
    /* Members and Now Playing brightness | 0 - 1 (decimals allowed) | DEFAULT: 0 */
    --popout-modal-brightness: 0.90
    /* Brightness for popouts and modals | 0 - 1 (decimals allowed) | DEFAULT: 0.75 */
        
    /* Gradient variables */
    --gradient-primary: 0, 0, 0;
    /* DEFAULT: 103,58,183 */
    --gradient-secondary: 170, 127, 9;
    /* DEFAULT: 63,81,181 */
    --gradient-direction: 320deg;
    /* DEFAULT: 320deg */

    /* Tint variables */
    --tint-colour: 255, 51, 159;
    /* Colour of tint | DEAFULT: 255,51,159 */
    --tint-brightness: 0;
    /* Brightness of --tint-colour | 0 - 1 (decimals allowed) | DEFAULT: 0 */

    /* Other variables */
    --window-padding: 20px;
    /* Spacing around the Discord window | DEFAULT: 20px */
    --window-roundness: 10px;
    /* Roundness of Discord | DEFAULT: 10px */
    --scrollbar-colour: rgba(255, 255, 255, 0.05);
    /* DEFAULT: rgba(255,255,255,0.05) */
    --link-colour: #00b0f4;
    /* DEFAULT: #00b0f4 */
    --show-gift-gif-buttons: none;
    /* Show buttons: block | Hide buttons: none | DEFAULT: none */
    --header-primary: #fff;
    --header-secondary: #bbb;
    --text-normal: #fff;
    --text-default: #ddd;
    --text-muted: #aaa;
    --text-link: #00b0f4;
    --channels-default: #ddd;
    --interactive-normal: #bbb;
    --interactive-hover: #eee;
    --interactive-active: #fff;
    --interactive-muted: #777;
    --background-primary: transparent;
    --background-secondary: rgba(0, 0, 0, 0.3);
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --background-accent: #4f545c;
    --background-floating: transparent;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(255, 255, 255, 0.05);
    --background-modifier-active: rgba(255, 255, 255, 0.07);
    --background-modifier-selected: rgba(255, 255, 255, 0.1);
    --background-modifier-accent: rgba(255, 255, 255, 0.1);
    --background-mentioned: rgba(250, 166, 26, 0.05);
    --background-mentioned-hover: rgba(250, 166, 26, 0.08);
    --background-message-hover: rgba(4, 4, 5, 0.07);
    --elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
    --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --logo-primary: #fff;
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --channeltextarea-background: rgba(255, 255, 255, 0.05);
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(0, 0, 0, 0.3);
    --deprecated-card-editable-bg: rgba(0, 0, 0, 0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: var(--channeltextarea-background);
    --deprecated-quickswitcher-input-placeholder: rgba(255, 255, 255, 0.5);
    --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
    --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
    --text-link: var(--link-colour);
    --lv1: #0c0e0f;
    /*Fonts*/
    --sizelg: 1.25rem;
    --size0: 1.15rem;
    --size1: .925rem;
    --size2: .8rem;
    --size3: .75rem;
    --size4: .7rem;
    --size5: .5rem;
    --size6: .35rem;
    --letter-spacing: -.02rem;

}

@keyframes rainbow {
    0% {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0)
    }

    100% {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg)
    }
}


/* Linked Channel */
#app-mount .wrapper-3WhCwL {
    background: transparent;
    color: #00cc7a;
}

/*Version Info/Message Bar */
.wordmark-2u86JB {
    opacity: 1;
    width: 100%;
    background: rgba(0, 0, 0, var(--middle-brightness));
    padding: 0;
    display: flex;
    align-items: center;
    height: 22px;
    padding-left: 12px;
}

.wordmark-2u86JB svg {
    display: none;
}

.wordmark-2u86JB:before,
.wordmark-2u86JB:after {
    font-size: 15px;
}

.wordmark-2u86JB:before {
    content: var(--theme-name);
    color: var(--main);
}

.wordmark-2u86JB:after {
    content: 'v'var(--theme-version);
    color: var(--hover);
    margin-left: 5px;
}

/* Menu Popout Background */
.menu-3sdvDG{
    background: var(--dark);
}


/* Background Settings */
#app-mount:before {
    content: "";
    background: var(--background-image);
    background-position: var(--background-image-position, center);
    background-size: var(--background-image-size, cover);
    position: absolute;
    height: calc(100vh + (var(--background-image-blur) * 2));
    width: calc(100vw + (var(--background-image-blur) * 2));
}

.theme-dark .container-2cd8Mz {
        background-position: var(--background-image-position, center);
    background-size: var(--background-image-size, cover);
    background: rgba(0, 0, 0, var(--middle-brightness));
}

/* Home Button Settings */
div[data-list-item-id="guildsnav___home"] {
	background: var(--home-button-image) top center/100% no-repeat;
}

#app-mount [data-list-item-id="guildsnav___home"]>div {
	color: transparent;
	background-color: transparent;
}


.homeIcon-FuNwkv {
    height: 0px;
}

/* Brightness Settings */
#app-mount  .chatContent-3KubbW {
    background: rgba(0, 0, 0, var(--middle-brightness));
}

#app-mount  .container-ZMc96U {
    background: rgba(0, 0, 0, var(--middle-brightness));
}

.membersWrap-2h-GB4 {
    background: rgba(0, 0, 0, var(--right-brightness));
}

#app-mount .sidebar-2K8pFh {
    border-radius: 0;
    background: rgba(0, 0, 0, var(--left-brightness));
    border-right: 2px solid var(--border);
}

#app-mount .sidebar-2K8pFh .container-PNkimc,
#app-mount .sidebar-2K8pFh .privateChannels-1nO12o,
#app-mount .sidebar-2K8pFh .scroller-1JbKMe {
    background-color: transparent;
}

.guilds-1SWlCJ {
    background: rgba(0, 0, 0, var(--serverlist-brightness));
}

#app-mount .base-3dtUhz:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    z-index: 1;
    top: 48px;
    pointer-events: none;
    user-select: none;
}

#app-mount .layers-3iHuyZ {
    margin: var(--window-padding);
    overflow: hidden;
    border-radius: var(--window-roundness);
}

#app-mount .guilds-1SWlCJ.wrapper-1Rf91z {
    background-color: transparent;
}

#app-mount .guilds-1SWlCJ.wrapper-1Rf91z .scroller-2TZvBN {
    background-color: rgba(0, 0, 0, var(--serverlist-brightness));
}

#app-mount .guilds-1SWlCJ.wrapper-1Rf91z .scroller-2TZvBN::-webkit-scrollbar {
    display: none;
}

#app-mount .guilds-1SWlCJ .expandedFolderBackground-2sPsd- {
    background: var(--white);
}

#app-mount .guilds-1SWlCJ .folder-21wGz3 {
    background: transparent;
}

.panels-3wFtMD {
    background: rgba(0, 0, 0, var(--middle-brightness));
    border-top: 2px solid var(--main);
    border-right: 2px solid var(--main); 
}

.guilds-2JjMmN {
    background: rgba(0, 0, 0, var(--middle-brightness));
    border: 2px solid;
    border-right: 2px solid var(--main);
}

.scroller-1ox3I2 {
    background: rgba(0, 0, 0, var(--middle-brightness));
    border-right: 2px solid var(--main); 
}

/* Dm Select/Hover Settings */
.layout-1qmrhw {
    position: relative
}

.layout-1qmrhw:after {
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main) 85%, var(--hover) 80%);
    transform: translateX(-250px);
    transition: all .2s ease
}

.layout-1qmrhw:hover {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.selected-1-Z6gm .layout-1qmrhw {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.layout-1qmrhw:hover:after,
.selected-1-Z6gm .layout-1qmrhw:after {
    content: "";
    width: 100%;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main) 85%, var(--hover) 80%);
    transform: translateX(0)
}

/* Channel Hover/Border */
.content-1gYQeQ {
    position: relative
}

.content-1gYQeQ:after {
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main) 85%, var(--hover) 80%);
    transform: translateX(-250px);
    transition: all .2s ease
}

.content-1gYQeQ:hover {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.modeSelected-3DmyhH .content-1gYQeQ {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.content-1gYQeQ:hover:after,
.modeSelected-3DmyhH .content-1gYQeQ:after {
    content: "";
    width: 100%;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main) 85%, var(--hover) 80%);
    transform: translateX(0)
}

.wrapper-1BJsBx {
    transition: background-color .1s ease-out,color .1s ease-out;
}

/* Scrollbars */
.auto-2K3UW5::-webkit-scrollbar-thumb {
    background-color: var(--main);

}

.auto-2K3UW5::-webkit-scrollbar-track {
    background-color: var(--border);
}

.auto-2K3UW5::-webkit-scrollbar-thumb,
.auto-2K3UW5::-webkit-scrollbar-track {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}

/* Chat Color */
.cozy-VmLDNB .messageContent-2t3eCI {
    color: var(--main);
}

/* Settings Background */
.contentRegion-3HkfJJ {
    background-position: var(--background-image-position, center);
    background-size: var(--background-image-size, cover);
    background: rgba(0, 0, 0, var(--middle-brightness));
}

.sidebarRegionScroller-FXiQOh {
    background-position: var(--background-image-position, center);
    background-size: var(--background-image-size, cover);
    background: rgba(0, 0, 0, var(--left-brightness));
}

/* DM Border */
.scroller-WSmht3 {
        border-right: 2px solid var(--main); 
}
/* Popout Menu Background */
.scroller-1bVxF5 {
    background-color: var(--medium);
}

/* Chat Box Border */
.channelTextArea-1FufC0 {
    border: 2px solid var(--main);
}

/*9.h. Toasts*/

body .bd-toasts {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.bd-toasts .bd-toast::before {
    content: var(--toast-content);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    left: 0;
    width: 100%;
    color: var(--main);
    background: rgba(0, 0, 0, .2);
    font-size: var(--size1);
    text-align: left;
    ;
}

.bd-toasts .bd-toast::after {
    content: 'This notice will close in a few seconds.';
    font-size: var(--size2);
    font-weight: 400;
    padding-top: 5px;
}

.bd-toasts .bd-toast {
    --toast-content: 'Notice';
    overflow: hidden;
    padding: 15px;
    padding-left: 15px;
    padding-top: 45px;
    padding-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    background-color: var(--lv1) !important;
    box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, .07), 0 0 12px rgba(255, 255, 255, .025);
    border: 1px solid var(--lv1);
    border-left: 2px solid var(--accent);
    border-radius: 0;
    height: auto;
    color: var(--main);
    font-size: var(--size1);
    font-weight: 500;
}

.bd-toasts .bd-toast.icon {
    padding-left: 55px !important;
}

.bd-toasts .bd-toast.icon {
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 10px 45px;
}

.bd-toasts .toast-success {
    border-left: 2px solid var(--success);
    --toast-content: 'Success';
}

.bd-toasts .toast-info {
    border-left: 2px solid var(--information);
    --toast-content: 'Information';
}

.bd-toasts .toast-danger,
.bd-toasts .toast-error {
    border-left: 2px solid var(--danger);
    --toast-content: 'Error';
}

.bd-toasts .toast-warn,
.bd-toasts .toast-warning {
    border-left: 2px solid var(--caution);
    --toast-content: 'Warning';
}

.friendnotifications-dnd-toast,
.friendnotifications-idle-toast,
.friendnotifications-mobile-toast,
.friendnotifications-offline-toast,
.friendnotifications-online-toast,
.friendnotifications-streaming-toast {
    background-color: var(--lv1) !important;
}

.bd-toasts .friendnotifications-online-toast {
    border-left-color: var(--success);
}

.bd-toasts .friendnotifications-offline-toast {
    border-left-color: var(--unavailable);
}

.bd-toasts .friendnotifications-idle-toast {
    border-left-color: var(--caution);
}

.bd-toasts .friendnotifications-dnd-toast {
    border-left-color: var(--danger);
}

.bd-toasts .friendnotifications-streaming-toast {
    border-left-color: var(--twitch-purple);
}

.bd-toasts .toast-inner {
    margin-left: 15px;
    text-align: left;
    text-indent: none;
    padding-bottom: 15px
}

.bd-toasts .toast-inner .toast-avatar {
    border-radius: var(--user-roundness);
    margin-right: -10px;
}

.powercord-toast {
    border: none;
    border-radius: 0;
    bottom: 10px;
    right: 10px;
    border-left: 2px solid var(--accent);
    box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, .07), 0 0 12px rgba(255, 255, 255, .025);
    z-index: 3000;
}

.powercord-toast[data-toast-type=info] .icon {
    color: var(--accent) !important;
}

.powercord-toast .header {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 20px;
    padding-right: 40px;
    color: rgba(255, 255, 255, .8);
    background: rgba(0, 0, 0, .2);
    font-size: var(--size1);
    font-weight: 500;
    align-items: center;
    border-radius: 0;
    box-shadow: none !important;
}

.powercord-toast .header .dismiss {
    right: 10px;
    position: absolute;
    margin-left: 0;
}

.powercord-toast .contents .inner {
    color: rgba(255, 255, 255, .65);
    border: none;
    background: transparent;
    text-align: left;
    font-size: var(--size1);
    padding: 0 5px;
}
