/**
 * @name         Bobatea
 * @description  Custom made for the babybear
 * @author       Ghost8797#4706
 * @version      2.11
 */

@import url('https://raw.githubusercontent.com/Ghost8797/Themes/refs/heads/master/Cera.theme.css');

:root {
/* color settings */
   --main: cyan;
   --hover: cyan;
   --border: darkcyan;
/* Background Image */
   --background-image: url('');
/* Home Button Image */
   --home-button-image: url('');    
/* Brightness */
    --serverlist-brightness: 1.0;
    --left-brightness: 0.8;
    --middle-brightness: 0.65;
    --right-brightness: 0.8;
    --popout-modal-brightness: 0.8;   
}
