/**
 * @name         Galaxy
 * @description  Custom made theme for Project Daedalus
 * @author       Ghost8797#4706
 * @version      3.5
 * @source       https://github.com/Ghost8797/Themes  
 */

/* Imports */
@import "https://fonts.googleapis.com/css?family=Satisfy|Montserrat:300";
@import "https://monstrousdev.github.io/themes/addons/user-tags.css";
@import "https://monstrousdev.github.io/themes/addons/filter.css";
@import "https://www.themonster.xyz/styles/google-fonts.css";
@import "https://monstrousdev.github.io/themes/addons/categoryNameFlair.css";
@import "https://monstrousdev.github.io/themes/addons/minimalUserList.css";
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url(https://codedotspectra.github.io/themes/mini-themes/settingsIcons.css);
@import url('https://ghost8797.github.io/Themes/RadialStatusX.theme.css');

/* Variables */
:root {
    --theme-version: "2.6";
    --main-color: #10c488;
    --hover-color: #35876c;
    --dark: #0c0e0f;
    --medium: #101214;
    --light: #131517;
    --online: #43b581;
    --idle: #faa61a;
    --dnd: #f04747;
    --offline: #636b75;
    --invisible: #747f8d;
    --streaming: #643da7;
    --home-color: var(--HomeButtonImg);
    --home-size: 64px;
    --spoiler-blur: 5px;
    --shadow: rgba(0, 0, 0, .4);
    --alert-display: block;
    --accent: var(--main-color);
    --bgImage: url('https://2.bp.blogspot.com/-8WU4pAW5P0I/UpQpXhkEnWI/AAAAAAAADNQ/Dgs4Vt4fX78/s1600/Daedalus_MadKoiFish+1.jpg');
    --BG-image-set: var(--bgImage, var(--bgImage));
    --HomeButtonImg: url("https://cdn.discordapp.com/attachments/628294884368973854/702195439868575814/Project_Daedalus.png");
    /* Home Button Image url must end with .jpg or .png */
}

/* Background Settings */
#app-mount {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.content-yTz4x3 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.typeWindows-1za-n7 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.scroller-9moviB {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.friendsTable-133bsv .friendsTableBody-1ZhKif {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: -10px;
}

.container-PNkimc {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.guilds-1SWlCJ {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.privateChannels-1nO12o {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.autocompleteInner-zh20B_ {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

.selector-2IcQBU:hover {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid var(--main-color);
}

.selectorSelected-1_M1WV {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid var(--main-color);
}

.panel-24C3ux {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--main-color);
}

.divider-3gKybi {
    color: var(--main-color);
}

.content-2M3n_H {
    color: var(--main-color);
}

.content-2M3n_H a {
    cursor: pointer;
    color: var(--hover-color);
}

.inner-3ErfOT {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

.quickswitcher-3JagVE {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

.scroller-zPkAnE {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.input-2VB9rf {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}


.content-3QAtGj {
    color: var(--hover-color);
}

.avatar-3uk_u9 {
    color: var(--main-color);
}

.clickable-3rdHwn .icon-22AiRD {
    color: var(--hover-color);
}

.resultsWrapper-hoiXCY {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.searchResultMessage-2VxO12.hit-NLlWXA {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.searchResultMessage-2VxO12.hit-NLlWXA,
.searchResultMessage-2VxO12.sibling-3tUBeh {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

.videoInner-3OR9J2 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

.peopleList-3c4jOR {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nowPlayingColumn-2sl4cE {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.itemCard-v9viV7 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.section-2gLsgF {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

.theme-dark .popout-13LQ_3 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

.scroller-1IIF0A {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header-39GIC8 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

/* Search Box Background Settings */
.searchBar-3dMhjb {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

.timestampCozy-2hLAPV {
    color: var(--main-color);
}

/* Chat Settings */
.privateChannelMessages-3f72E- {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-right: 150px;
}

.messages-3amgkR {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-right: 150px;
}

.chat-3bRxxu > .content-yTz4x3 .messages-3amgkR .containerCozy-jafyvG {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-right: 150px;
}

.form-2fGMdU {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.message-2qnXI6 .container-3FojY8 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;   
}

.inner-MADQqc {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 2px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
    margin-right: 120px;
}

/* Upload Popout */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .description-2ug5H_ .filename-ovv3c5 {
    color: var(--main-color);
}

.uploadModal-2ifh8j .inner-3nWsbo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 2px solid var(--main-color);
    border-radius: 10px 10px 0 0;
    margin: 10px;
    color: #20f7b0;
}

.white-1VR_aZ {
    color: #0c291f
}

.lookLink-9FtZy-.colorWhite-rEQuAQ {
    color: var(--main-color)
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: var(--main-color);
    background-color: #10523c;
}

#charcounter {
    color: var(--main-color);
}

/* Chat Color */
.markup-2BOw-j {
    color: #3dbf94;
    text-shadow: 2px 2px 2px var(--dark);
}

.theme-brand .textArea-2Spzkt {
    color: #10523c;
}

.chat-3bRxxu .containerCozy-jafyvG .avatar-17mtNa:after {
    content: ' ';
    border: 6.5px solid transparent;
    border-right-color: #111;
    border-right-color: var(--quaternary-color);
    position: absolute;
    margin-top: -75%;
    margin-left: 92%;
}

.containerCozy-jafyvG .isMentioned-N-h9aa {
    box-shadow: 0px 0px 5px rgba(250, 166, 26, .1);
    box-shadow: 0px 0px 5px var(--main-color);
}

.containerCozyBounded-1rKFAn {
    overflow: visible;
}

/* Header Settings */
.container-1r6BKw.themed-ANHk51 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Channel Settings */
.scroller-2wx7Hm {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header-2o-2hj {
    background-color: transparent;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.name-3_Dsmg {
    color: var(--main-color);
}

.modeSelected-1zApJ_ .name-3_Dsmg {
    color: var(--main-color);
}

/* Channel Hover/Border */
.content-3at_AU {
    position: relative
}

.content-3at_AU:after {
    content: "";
    height: 2px;
    width: 98.5%;
    border-radius: 50px;
    bottom: 0;
    left: 7.5px;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main-color) 85%, var(--main-color) 80%);
    transform: translateX(-250px);
    transition: all .2s ease
}

.content-3at_AU:hover {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU::after,
.wrapper-1ucjTd:hover .content-3at_AU::after {
    content: "";
    width: 100%;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main-color) 85%, var(--hover-color) 80%);
    transform: translateY(0);
}

/* Dm Select/Hover Settings */
.layout-2DM8Md {
    position: relative
}

.layout-2DM8Md:after {
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main-color) 85%, var(--hover-color) 80%);
    transform: translateX(-250px);
    transition: all .2s ease
}

.layout-2DM8Md:hover {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.selected-aXhQR6 .layout-2DM8Md {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.layout-2DM8Md:hover:after,
.selected-aXhQR6 .layout-2DM8Md:after {
    content: "";
    width: 100%;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main-color) 85%, var(--hover-color) 80%);
    transform: translateX(0)
}

/* User Panel Settings */
.container-3baos1 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Game Panel above User info fix */
.panels-j1Uci_ {
    background-color: var(--bgImage);
}

/* Server List Settings */
.scroller-2TZvBN {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.expandedFolderBackground-2sPsd- {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.wrapper-25eVIn {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#app-mount .wrapper-1BJsBx .childWrapper-anI2G9 {
    background-color: transparent;
}

/* Member List Settings */
.members-1998pB {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Home Button Settings */
.homeIcon-tEMBK1 {
    background: var(--HomeButtonImg) no-repeat;
    background-color: var(--BG-image-set) center/cover no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#app-mount .homeIcon-tEMBK1 path {
    display: none;
}

/* Nitro Settings */
#app-mount .modal-yWgWj-,
#app-mount .root-1gCeng {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.theme-dark .modal-yWgWj- {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.option-1l2vXE {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.footer-3rDWdC {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Gif Popout Settings */
.container-2jxBbw {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header-1TOWci {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.inner-2P4tQO {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

/*Emoji Popout Settings */
.emojiPicker-3m1S-j {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--main-color);
}

.emojiPicker-3m1S-j .category-2U57w6 {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.infoBar-U6oBFk {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.emojiPicker-3m1S-j .categories-1feg4n {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.emojiPicker-3m1S-j .searchBar-2pWH0_ {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--main-color);
}

/* Pinned Messages and Mentions */
.themedPopout-25DgLi {
    border-left: 2px solid var(--BG-image-set);
    border-right: 2px solid var(--BG-image-set);
    border-bottom: 2px solid var(--BG-image-set);
    border-top: 0px solid var(--BG-image-set);
}

#app-mount .themedPopout-25DgLi .header-SsaQ8X {
    border-radius: 0px;
}

#app-mount .messagesPopout-24nkyi {
    background: var(--BG-image-set);
}

#app-mount .messagesPopoutWrap-1MQ1bW {
    border-radius: 0 !important;
    border-left: 2px solid var(--BG-image-set);
    border-right: 2px solid var(--BG-image-set);
    border-bottom: 2px solid var(--BG-image-set);
    border-top: 0;
    animation: popoutanim 300ms cubic-bezier(.4, 0, 0, 1), opacity 100ms ease 100ms backwards;
    transform-origin: 50% -10%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .4) !important;
    margin-top: 1px;
    background-color: var(--BG-image-set);
}

#app-mount .header-ykumBX,
#app-mount .footer-1kmXd4 {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G:hover {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: none !important;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_ {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff !important;
    padding: 2px 7px 3px 7px;
}

.themedPopout-25DgLi .header-SsaQ8X .subtitle,
.themedPopout-25DgLi .text {
    color: #fff !important;
}

.jumpButton-3DTcS_ {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.hasMoreButton-1MELpI {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Search Popout Settings */
popoutBottom-2GAFPg.noArrow-2foL9g {
    margin-top: 0px !important;
}

.popout-3sVMXz.popoutBottom-1YbShG.noShadow-321ZPm[style*="top: 37px;"] {
    top: 46px !important;
}

.searchPopout-1vUlP3,
.container-3ayLPN {
    background-color: transparent;
    background: var(--BG-image-set) center/cover no-repeat;
}

.searchPopout-1vUlP3 .resultsGroup-r_nuzN,
.searchPopout-1vUlP3,
.container-3ayLPN {
    animation: popoutanim 300ms cubic-bezier(.4, 0, 0, 1), opacity 100ms ease 100ms backwards;
    transform-origin: 50% -10%;
    box-sizing: content-box;
    background-color: var(--BG-image-set);
}

.resultsGroup-r_nuzN .header-2N-gMV {
    background-color: var(--BG-image-set);
    padding: 10px 20px;
}

.resultsGroup-r_nuzN .searchClearHistory-2cSSMO,
.resultsGroup-r_nuzN .searchLearnMore-3SQUAj {
    top: 17px;
}

.option-96V44q,
.result-2S5Awv {
    border-left: 2px solid var(--BG-image-set);
    border-radius: 0px;
}

.option-96V44q:after,
.option-96V44q.selected-rZcOL-:after {
    display: none;
}

.queryContainer-RKFJW- {
    border-bottom: 1px solid var(--hover-color) !important;
}

.option-96V44q.selected-rZcOL-,
.result-2S5Awv.focused-1Yu0L3 {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
}

.option-96V44q.searchQuery-1B7rtx.selected-rZcOL-,
.queryContainer-RKFJW- {
    border-color: var(--BG-image-set);
}

.dim-1l4L4y span {
    background-color: var(--main-color) !important;
    color: white !important;
}

.option-96V44q span {
    overflow: visible;
}

.dim-1l4L4y span {
    background-color: var(--main-color) !important;
    color: white !important;
}

.option-96V44q span {
    overflow: visible;
}

/*User Popout Settings */
.headerTop-3C2Zn0 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bodyInner-245q0L {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-top: 2px solid var(--hover-color) !important;
}

.footer-1fjuF6 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
}

.contextMenu-HLZMGh {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.activityPanel-28dQGo {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container-1giJp5 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.rolesList-22qj2L {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.userPopout-3XzG_A {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.quickMessage-1yeL4E {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

/* Scrollbars */
.emojiPicker-3m1S-j .premiumPromo-yVfLiA,
#autocomplete-popout .scroller::-webkit-scrollbar,
#bda-qem-favourite-container .scroller-wrap .scroller::-webkit-scrollbar,
#bda-qem-twitch-container .scroller-wrap .scroller::-webkit-scrollbar,
.emojiPicker-3m1S-j .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar {
    display: none;
    background-color: var(--BG-image-set) !important;
}

#bd-settingspane-container .scroller-wrap .scroller::-webkit-scrollbar {
    width: 5px;
}

#bd-settingspane-container .scroller-wrap .scroller::-webkit-scrollbar-thumb,
#bd-settingspane-container .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border-radius: 40px;
}

#bda-qem-favourite-container .scroller-wrap .scroller::-webkit-scrollbar-thumb,
#bda-qem-twitch-container .scroller-wrap .scroller::-webkit-scrollbar-thumb,
.emojiPicker-3m1S-j .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    border: none !important;
    background-color: var(--BG-image-set) !important;
    display: initial;
}

.friends-table .scroller-wrap ::-webkit-scrollbar-track-piece,
.messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece,
.scrollerWrap-2lJEkd .scroller-2CvAgC::-webkit-scrollbar-track-piece,
.scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track,
.sb-menu-scroller:hover::-webkit-scrollbar-track-piece,
.scrollerWrap-2su1QI::-webkit-scrollbar-track-piece,
.scrollerWrap-2su1QI::-webkit-scrollbar-track,
.scroller-2FKFPG::-webkit-scrollbar-track,
.scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: var(--BG-image-set) !important;
    border-color: transparent !important;
}

.friends-table .scroller-wrap ::-webkit-scrollbar-thumb,
.messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeGhost-28MSn0 .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scroller::-webkit-scrollbar-thumb,
.scrollerWrap-2lJEkd .scroller-2CvAgC::-webkit-scrollbar-thumb,
.chat-3bRxxu .textArea-2Spzkt::-webkit-scrollbar-thumb,
.sb-menu-scroller::-webkit-scrollbar-thumb {
    background-color: var(--main-color) !important;
    border-color: transparent !important;
    border-radius: 40px;
}

.scroller-2FKFPG::-webkit-scrollbar-track,
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border-radius: 0px;
}

.scroller-wrap .scroller::-webkit-scrollbar {
    width: 11px;
}

.scroller-2FKFPG::-webkit-scrollbar {
    width: 12px;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb,
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    visibility: hidden !important;
    transition: .2s visibility linear;
}

.scroller-wrap .scroller:hover::-webkit-scrollbar-thumb,
.scroller-wrap .scroller:hover::-webkit-scrollbar-track-piece {
    visibility: visible !important;
}

.rolesList-22qj2L::-webkit-scrollbar {
    height: 8px;
    width: 12px;
    background-color: var(--main-color);
}

/* Dm List Settings */
.scroller-1JbKMe {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.searchBar-6Kv8R2 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Private Chat Settings */
.barBase-39XTcM {
    margin-right: 134px;
}

/* Settings page Settings */
.contentRegion-3nDuYy,
.contentRegionScroller-26nc1e,
.sidebarRegionScroller-3MXcoP {
    background: transparent
}

.standardSidebarView-3F1I7i {
    background: var(--BG-image-set) center/cover no-repeat
}

/* Server Menu Settings */
.menu-Sp6bN1 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/* Status Picker */
.popout-3sVMXz.popoutTop-3uu9vG,
.popout-3sVMXz.popoutTopLeft-b5Eb3O {
    overflow: visible !important;
}

.popout-3sVMXz.popoutTopLeft-b5Eb3O {
    margin-left: -10px;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 {
    animation: show-status 300ms linear;
    border: none;
    width: 240px;
    height: 68px;
    padding: 0;
}

.popoutTopLeft-3B0mFf.noArrow-2foL9g[style*="z-index: 1001;"] {
    left: 70px !important;
    width: 241px !important;
    border-radius: 0;
}

.layer-v9HyYc[style*="; bottom: 82px;"][style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 {
    position: fixed;
    left: -10px !important;
    bottom: -5px !important;
}

.popoutTopLeft-3B0mFf.noArrow-2foL9g[style*="height: 80px;"] {
    height: 100px !important;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 .statusIconText-3b4TkH div {
    color: transparent;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 .helper-2c73HK {
    display: none;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 68px;
    vertical-align: top;
    background: transparent;
    overflow: hidden;
    transform: perspective(1px) scale(1);
    animation: status 300ms ease backwards;
    margin: 0;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(3) {
    animation-delay: 100ms !important;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(4) {
    animation-delay: 200ms !important;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(5) {
    animation-delay: 300ms !important;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover {
    background: transparent !important;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(7) {
    background-color: var(--primary-color);
    width: 100%;
    transition: color 200ms ease-in;
    z-index: -1;
    position: absolute;
    height: 35px;
    margin-top: -35px;
    box-shadow: 0 2px 20px var(--shadow) !important;
    transform: translateX(0%) translateY(100%) translateZ(0);
    animation: show-custom 300ms ease forwards 400ms;
    opacity: 0;
    pointer-events: none;
}

.customStatusContentIcon-2sionu {
    height: 100%;
    width: 100%;
    justify-content: center;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(7):hover {
    background-color: var(--primary-color) !important;
    color: rgb(var(--BG-gradient-one));
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover .statusIconText-3b4TkH {
    transform: scale(1.5);
    transition: all 200ms ease-in-out;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 .statusIconText-3b4TkH {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto !important;
    border-radius: 50%;
    transform: scale(1);
    transition: all 200ms ease-in-out;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(1) .statusIconText-3b4TkH {
    background-color: var(--online);
    border-radius: 50px;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(3) .statusIconText-3b4TkH {
    background-color: var(--idle);
    border-radius: 50px;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(4) .statusIconText-3b4TkH {
    background-color: var(--dnd);
    border-radius: 50px;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(5) .statusIconText-3b4TkH {
    background-color: var(--invisible);
    border-radius: 50px;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover [class*="status"].online-2S838R:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover [class*="status"].idle-3DEnRT:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover [class*="status"].dnd-1_xrcq:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover [class*="status"].invisible-1kp8Z0:after {
    opacity: 1;
    visibility: visible;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 [class*="status"].online-2S838R:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 [class*="status"].idle-3DEnRT:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 [class*="status"].dnd-1_xrcq:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 [class*="status"].invisible-1kp8Z0:after {
    content: " ";
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 .statusIconText-3b4TkH:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover .statusIconText-3b4TkH:after {
    opacity: 1;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(1) .statusIconText-3b4TkH:after {
    background-image: url(https://monstrousdev.github.io/themes/assets/status/online.svg);
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(3) .statusIconText-3b4TkH:after {
    background-image: url(https://monstrousdev.github.io/themes/assets/status/idle.svg);
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(4) .statusIconText-3b4TkH:after {
    background-image: url(https://monstrousdev.github.io/themes/assets/status/dnd.svg);
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(5) .statusIconText-3b4TkH:after {
    background-image: url(https://monstrousdev.github.io/themes/assets/status/invisi.svg);
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 .statusIconText-3b4TkH .status-oxiHuE {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    margin-right: 0px !important;
    transition: all 200ms ease-in-out;
}

.menu-Sp6bN1 .separator-2zcjq8 {
    display: none;
}

/* Status Picker */

/* Upload Popout Settings */
.uploadModal-2ifh8j {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
