/**
 * @name         Galaxy
 * @description  Custom made theme for the 4th Continuum Armada
 * @author       Ghost8797#4706
 * @version      3.0
 * @source       https://github.com/Ghost8797/Themes  
 */

/* Imports */
@import "https://fonts.googleapis.com/css?family=Satisfy|Montserrat:300";
@import "https://monstrousdev.github.io/themes/addons/user-tags.css";
@import "https://monstrousdev.github.io/themes/addons/filter.css";
@import "https://www.themonster.xyz/styles/google-fonts.css";
@import "https://monstrousdev.github.io/themes/addons/chatBubbles.css";
@import "https://monstrousdev.github.io/themes/addons/categoryNameFlair.css";
@import "https://monstrousdev.github.io/themes/addons/minimalUserList.css";
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url(https://codedotspectra.github.io/themes/mini-themes/settingsIcons.css);


/* Variables */
:root {
    --theme-version: "2.6";
    --main-color: #10c488;
    --hover-color: #35876c;
    --dark: #0c0e0f;
    --medium: #101214;
    --light: #131517;
    --online: #43b581;
    --idle: #faa61a;
    --dnd: #f04747;
    --offline: #636b75;
    --invisible: #747f8d;
    --streaming: #643da7;
    --home-color: var(--HomeButtonImg);
    --home-size: 64px;
    --roundness: 50px;
    --spoiler-blur: 5px;
    --shadow: rgba(0, 0, 0, .4);
    --alert-display: block;
    --accent: var(--main-color);
    --bgImage: url('https://images.wallpaperscraft.com/image/space_open_space_planets_135213_3840x2160.jpg');
    --BG-image-set: var(--bgImage, var(--bgImage));
    --HomeButtonImg: url("https://images-ext-2.discordapp.net/external/WfTKRzLhXMz2jKScZX91Bo-KLSZASG4lq0C9jXM7uxw/https/media.discordapp.net/attachments/419937643007311885/631106769606934529/ASE_new_Logo.png?width=1275&height=702");
    /* Home Button Image url must end with .jpg or .png */
}

/* Background Settings */
#app-mount {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.content-yTz4x3 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.typeWindows-1za-n7 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.scroller-9moviB {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.friendsTable-133bsv .friendsTableBody-1ZhKif {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: -10px;
}

.container-PNkimc {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.guilds-1SWlCJ {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.privateChannels-1nO12o {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.autocompleteInner-zh20B_ {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

.selector-2IcQBU:hover {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid var(--main-color);
}

.selectorSelected-1_M1WV {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid var(--main-color); 
}

.panel-24C3ux {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--main-color); 
}

/* Search Box Background Settings */
.searchBar-3dMhjb {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Chat Settings */
.messages-3amgkR {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-right: 150px;
}

.form-2fGMdU {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.inner-zqa7da {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
    margin-right: 130px;
}

/* Chat Color */
.markup-2BOw-j {
    color: var(--main-color);
}

.chat-3bRxxu .containerCozy-jafyvG .avatar-17mtNa:after {
content: ' ';
border: 6.5px solid transparent;
border-right-color: #111;
border-right-color: var(--quaternary-color);
position: absolute;
margin-top: -75%;
margin-left: 92%;
}

.containerCozy-jafyvG .isMentioned-N-h9aa {
  box-shadow: 0px 0px 5px rgba(250,166,26,.1);
  box-shadow: 0px 0px 5px var(--main-color);
}

.containerCozyBounded-1rKFAn {
  overflow: visible;
}

/* Header Settings */
.container-1r6BKw.themed-ANHk51 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Channel Settings */
.scroller-2wx7Hm {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header-2o-2hj {
    background-color: transparent;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/* Channel Hover/Border */
.content-3at_AU {
    position: relative
}

.content-3at_AU:after {
    content: "";
    height: 2px;
    width: 98.5%;
    border-radius: 50px;
    bottom: 0;
    left: 7.5px;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main-color) 85%, var(--main-color) 80%);
    transform: translateX(-250px);
    transition: all .2s ease
}

.content-3at_AU:hover {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU::after,
.wrapper-1ucjTd:hover .content-3at_AU::after {
    content: "";
    width: 100%;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main-color) 85%, var(--hover-color) 80%);
    transform: translateY(0);
}

/* Dm Select/Hover Settings */
.layout-2DM8Md {
    position: relative
}

.layout-2DM8Md:after {
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main-color) 85%, var(--hover-color) 80%);
    transform: translateX(-250px);
    transition: all .2s ease
}

.layout-2DM8Md:hover {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.selected-aXhQR6 .layout-2DM8Md {
    background-image: linear-gradient(120deg, black 85%, var(--medium) 80%) !important;
}

.layout-2DM8Md:hover:after,
.selected-aXhQR6 .layout-2DM8Md:after {
    content: "";
    width: 100%;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--main-color) 85%, var(--hover-color) 80%);
    transform: translateX(0)
}

/* User Panel Settings */
.container-3baos1 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Game Panel above User info fix */
.panels-j1Uci_ {
    background-color: var(--bgImage);
}

/* Server List Settings */
.scroller-2TZvBN {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.expandedFolderBackground-2sPsd- {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.wrapper-25eVIn {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#app-mount .wrapper-1BJsBx .childWrapper-anI2G9 {
    background-color: transparent;
}

/* Member List Settings */
.members-1998pB {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Home Button Settings */
.homeIcon-tEMBK1 {
    background: var(--HomeButtonImg) no-repeat;
    background-color: var(--BG-image-set) center/cover no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#app-mount .homeIcon-tEMBK1 path {
    display: none;
}

/* Nitro Settings */
#app-mount .modal-yWgWj-,
#app-mount .root-1gCeng {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.theme-dark .modal-yWgWj- {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.option-1l2vXE {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.footer-3rDWdC {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Gif Popout Settings */
.container-2jxBbw {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header-1TOWci {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.inner-2P4tQO {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

/*Emoji Popout Settings */
.emojiPicker-3m1S-j {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--main-color);
}

.emojiPicker-3m1S-j .category-2U57w6 {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.infoBar-U6oBFk {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
}

.emojiPicker-3m1S-j .categories-1feg4n {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;    
}

.emojiPicker-3m1S-j .searchBar-2pWH0_ {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--main-color); 
}

/* Pinned Messages and Mentions */
.themedPopout-25DgLi {
    border-left: 2px solid var(--BG-image-set);
    border-right: 2px solid var(--BG-image-set);
    border-bottom: 2px solid var(--BG-image-set);
    border-top: 0px solid var(--BG-image-set);
}

#app-mount .themedPopout-25DgLi .header-SsaQ8X {
    border-radius: 0px;
}

#app-mount .messagesPopout-24nkyi {
    background: var(--BG-image-set);
}

#app-mount .messagesPopoutWrap-1MQ1bW {
    border-radius: 0 !important;
    border-left: 2px solid var(--BG-image-set);
    border-right: 2px solid var(--BG-image-set);
    border-bottom: 2px solid var(--BG-image-set);
    border-top: 0;
    animation: popoutanim 300ms cubic-bezier(.4, 0, 0, 1), opacity 100ms ease 100ms backwards;
    transform-origin: 50% -10%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .4) !important;
    margin-top: 1px;
    background-color: var(--BG-image-set);
}

#app-mount .header-ykumBX,
#app-mount .footer-1kmXd4 {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G:hover {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: none !important;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_ {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff !important;
    padding: 2px 7px 3px 7px;
}

.themedPopout-25DgLi .header-SsaQ8X .subtitle,
.themedPopout-25DgLi .text {
    color: #fff !important;
}

.jumpButton-3DTcS_ {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.hasMoreButton-1MELpI {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Search Popout Settings */
popoutBottom-2GAFPg.noArrow-2foL9g {
    margin-top: 0px !important;
}

.popout-3sVMXz.popoutBottom-1YbShG.noShadow-321ZPm[style*="top: 37px;"] {
    top: 46px !important;
}

.searchPopout-1vUlP3,
.container-3ayLPN {
    background-color: transparent;
    background: var(--BG-image-set) center/cover no-repeat;
}

.searchPopout-1vUlP3 .resultsGroup-r_nuzN,
.searchPopout-1vUlP3,
.container-3ayLPN {
    animation: popoutanim 300ms cubic-bezier(.4, 0, 0, 1), opacity 100ms ease 100ms backwards;
    transform-origin: 50% -10%;
    box-sizing: content-box;
    background-color: var(--BG-image-set);
}

.resultsGroup-r_nuzN .header-2N-gMV {
    background-color: var(--BG-image-set);
    padding: 10px 20px;
}

.resultsGroup-r_nuzN .searchClearHistory-2cSSMO,
.resultsGroup-r_nuzN .searchLearnMore-3SQUAj {
    top: 17px;
}

.option-96V44q,
.result-2S5Awv {
    border-left: 2px solid var(--BG-image-set);
    border-radius: 0px;
}

.option-96V44q:after,
.option-96V44q.selected-rZcOL-:after {
    display: none;
}

.queryContainer-RKFJW- {
    background-color: var(--hover-color) !important;
}

.option-96V44q.selected-rZcOL-,
.result-2S5Awv.focused-1Yu0L3 {
    background-color: var(--hover-color) !important;
    border-color: var(--BG-image-set);
}

.option-96V44q.searchQuery-1B7rtx.selected-rZcOL-,
.queryContainer-RKFJW- {
    border-color: var(--BG-image-set);
}

.dim-1l4L4y span {
    background-color: var(--main-color) !important;
    color: white !important;
}

.option-96V44q span {
    overflow: visible;
}

.dim-1l4L4y span {
    background-color: var(--main-color) !important;
    color: white !important;
}

.option-96V44q span {
    overflow: visible;
}

/*User Popout Settings */
.headerTop-3C2Zn0 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bodyInner-245q0L {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-top: 2px solid var(--hover-color) !important;
}

.footer-1fjuF6 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
}

.contextMenu-HLZMGh {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.activityPanel-28dQGo {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container-1giJp5 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.rolesList-22qj2L {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.userPopout-3XzG_A {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.quickMessage-1yeL4E {
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--hover-color);
    border-top: 2px solid var(--hover-color) !important;
    border-bottom: 2px solid var(--hover-color) !important;
    border-left: 2px solid var(--hover-color) !important;
    border-right: 2px solid var(--hover-color) !important;
}

/* Scrollbars */
.emojiPicker-3m1S-j .premiumPromo-yVfLiA,
#autocomplete-popout .scroller::-webkit-scrollbar,
#bda-qem-favourite-container .scroller-wrap .scroller::-webkit-scrollbar,
#bda-qem-twitch-container .scroller-wrap .scroller::-webkit-scrollbar,
.emojiPicker-3m1S-j .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar {
    display: none;
    background-color: var(--BG-image-set) !important;
}

#bd-settingspane-container .scroller-wrap .scroller::-webkit-scrollbar {
    width: 5px;
}

#bd-settingspane-container .scroller-wrap .scroller::-webkit-scrollbar-thumb,
#bd-settingspane-container .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border-radius: 40px;
}

#bda-qem-favourite-container .scroller-wrap .scroller::-webkit-scrollbar-thumb,
#bda-qem-twitch-container .scroller-wrap .scroller::-webkit-scrollbar-thumb,
.emojiPicker-3m1S-j .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    border: none !important;
    background-color: var(--BG-image-set) !important;
    display: initial;
}

.friends-table .scroller-wrap ::-webkit-scrollbar-track-piece,
.messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece,
.scrollerWrap-2lJEkd .scroller-2CvAgC::-webkit-scrollbar-track-piece,
.scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track,
.sb-menu-scroller:hover::-webkit-scrollbar-track-piece,
.scrollerWrap-2su1QI::-webkit-scrollbar-track-piece,
.scrollerWrap-2su1QI::-webkit-scrollbar-track,
.scroller-2FKFPG::-webkit-scrollbar-track,
.scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: var(--BG-image-set) !important;
    border-color: transparent !important;
}

.friends-table .scroller-wrap ::-webkit-scrollbar-thumb,
.messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeGhost-28MSn0 .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scroller::-webkit-scrollbar-thumb,
.scrollerWrap-2lJEkd .scroller-2CvAgC::-webkit-scrollbar-thumb,
.chat-3bRxxu .textArea-2Spzkt::-webkit-scrollbar-thumb,
.sb-menu-scroller::-webkit-scrollbar-thumb {
    background-color: var(--main-color) !important;
    border-color: transparent !important;
    border-radius: 40px;
}

.scroller-2FKFPG::-webkit-scrollbar-track,
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border-radius: 0px;
}

.scroller-wrap .scroller::-webkit-scrollbar {
    width: 11px;
}

.scroller-2FKFPG::-webkit-scrollbar {
    width: 12px;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb,
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    visibility: hidden !important;
    transition: .2s visibility linear;
}

.scroller-wrap .scroller:hover::-webkit-scrollbar-thumb,
.scroller-wrap .scroller:hover::-webkit-scrollbar-track-piece {
    visibility: visible !important;
}

.rolesList-22qj2L::-webkit-scrollbar {
    height: 8px;
    width: 12px;
    background-color: var(--main-color);
}

/* Dm List Settings */
.scroller-1JbKMe {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.searchBar-6Kv8R2 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Private Chat Settings */
.barBase-39XTcM {
    margin-right: 134px;
}

/* Settings page Settings */
.contentRegion-3nDuYy,
.contentRegionScroller-26nc1e,
.sidebarRegionScroller-3MXcoP {
    background: transparent
}

.standardSidebarView-3F1I7i {
    background: var(--BG-image-set) center/cover no-repeat
}

/* Server Menu Settings */
.menu-Sp6bN1 {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/* Status Picker */
.popout-3sVMXz.popoutTop-3uu9vG,
.popout-3sVMXz.popoutTopLeft-b5Eb3O {
    overflow: visible !important;
}

.popout-3sVMXz.popoutTopLeft-b5Eb3O {
    margin-left: -10px;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 {
    animation: show-status 300ms linear;
    border: none;
    width: 240px;
    height: 68px;
    padding: 0;
}

.popoutTopLeft-3B0mFf.noArrow-2foL9g[style*="z-index: 1001;"] {
    left: 70px !important;
    width: 241px !important;
    border-radius: 0;
}

.layer-v9HyYc[style*="; bottom: 82px;"][style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 {
    position: fixed;
    left: -10px !important;
    bottom: -5px !important;
}

.popoutTopLeft-3B0mFf.noArrow-2foL9g[style*="height: 80px;"] {
    height: 100px !important;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 .statusIconText-3b4TkH div {
    color: transparent;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 .helper-2c73HK {
    display: none;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 68px;
    vertical-align: top;
    background: transparent;
    overflow: hidden;
    transform: perspective(1px) scale(1);
    animation: status 300ms ease backwards;
    margin: 0;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(3) {
    animation-delay: 100ms !important;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(4) {
    animation-delay: 200ms !important;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(5) {
    animation-delay: 300ms !important;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover {
    background: transparent !important;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(7) {
    background-color: var(--primary-color);
    width: 100%;
    transition: color 200ms ease-in;
    z-index: -1;
    position: absolute;
    height: 35px;
    margin-top: -35px;
    box-shadow: 0 2px 20px var(--shadow) !important;
    transform: translateX(0%) translateY(100%) translateZ(0);
    animation: show-custom 300ms ease forwards 400ms;
    opacity: 0;
    pointer-events: none;
}

.customStatusContentIcon-2sionu {
    height: 100%;
    width: 100%;
    justify-content: center;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(7):hover {
    background-color: var(--primary-color) !important;
    color: rgb(var(--BG-gradient-one));
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover .statusIconText-3b4TkH {
    transform: scale(1.5);
    transition: all 200ms ease-in-out;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 .statusIconText-3b4TkH {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto !important;
    border-radius: 50%;
    transform: scale(1);
    transition: all 200ms ease-in-out;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(1) .statusIconText-3b4TkH {
    background-color: var(--online);
    border-radius: 50px;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(3) .statusIconText-3b4TkH {
    background-color: var(--idle);
    border-radius: 50px;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(4) .statusIconText-3b4TkH {
    background-color: var(--dnd);
    border-radius: 50px;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(5) .statusIconText-3b4TkH {
    background-color: var(--invisible);
    border-radius: 50px;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover [class*="status"].online-2S838R:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover [class*="status"].idle-3DEnRT:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover [class*="status"].dnd-1_xrcq:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover [class*="status"].invisible-1kp8Z0:after {
    opacity: 1;
    visibility: visible;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 [class*="status"].online-2S838R:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 [class*="status"].idle-3DEnRT:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 [class*="status"].dnd-1_xrcq:after,
.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 [class*="status"].invisible-1kp8Z0:after {
    content: " ";
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 .statusIconText-3b4TkH:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:hover .statusIconText-3b4TkH:after {
    opacity: 1;
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(1) .statusIconText-3b4TkH:after {
    background-image: url(https://monstrousdev.github.io/themes/assets/status/online.svg);
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(3) .statusIconText-3b4TkH:after {
    background-image: url(https://monstrousdev.github.io/themes/assets/status/idle.svg);
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(4) .statusIconText-3b4TkH:after {
    background-image: url(https://monstrousdev.github.io/themes/assets/status/dnd.svg);
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(5) .statusIconText-3b4TkH:after {
    background-image: url(https://monstrousdev.github.io/themes/assets/status/invisi.svg);
}

.layer-v9HyYc[style*="; bottom: "][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6 .statusIconText-3b4TkH .status-oxiHuE {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    margin-right: 0px !important;
    transition: all 200ms ease-in-out;
}

.menu-Sp6bN1 .separator-2zcjq8 {
    display: none;
}

/* Status Picker */

/* Upload Popout Settings */
.uploadModal-2ifh8j {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Activity Page */
.activityFeed-1C0EmJ {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Library Grid */
/*
*   ===== BULK CODE CREDIT TO SATORU =====
*
*   Animation and refining made by Monster
*/

.scroller-1IIF0A {
    background-color: transparent;
    background: var(--BG-image-set);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.scroller-5bBood {
    background-color: transparent;
    background: var(--BG-image-set) center/cover no-repeat;

}

#app-mount .gameUpdates-2GPqBU {
    background-color: rgba(0, 0, 0, 0)
}

#app-mount .gameUpdates-2GPqBU .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--main-color)
}

#app-mount .gameLibrary-TTDw4Y {
    background-color: transparent
}

#app-mount .gameLibrary-TTDw4Y .table-1tDS6w {
    width: 100%;
    height: calc(100vh - 110px);
    border-top: 50px solid transparent;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    overflow-y: overlay;
    justify-content: center
}

#app-mount .gameLibrary-TTDw4Y .table-1tDS6w:only-child {
    margin: -10px
}

#app-mount .gameLibrary-TTDw4Y .table-1tDS6w::-webkit-scrollbar {
    display: none
}

#app-mount .gameLibrary-TTDw4Y .header-39GIC8 {
    background: transparent;
    width: 100%;
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    font-size: 1em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1000
}

#app-mount .gameLibrary-TTDw4Y .header-39GIC8 .headerCell-3L6rFG {
    width: auto;
    border: none;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 3px;
    padding: 5px;
    display: flex;
    text-transform: capitalize;
    flex: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box
}

#app-mount .gameLibrary-TTDw4Y .header-39GIC8 .headerCell-3L6rFG:nth-child(2) {
    margin: 0 10px
}

#app-mount .gameLibrary-TTDw4Y .header-39GIC8 .headerCell-3L6rFG:nth-child(3) {
    min-width: 125px
}

#app-mount .gameLibrary-TTDw4Y .header-39GIC8 .headerCell-3L6rFG:last-child {
    display: none
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 {
    flex-direction: column;
    white-space: nowrap;
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    left: 10px;
    width: 304px;
    height: 150px;
    margin: 8px;
    overflow: hidden;
    background: var(--primary-color);
    box-shadow: 0 0 8px 0 var(--shadow)
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f {
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3)
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .nameBodyCell-3JOlnK {
    position: absolute;
    top: 50%;
    flex-flow: column;
    left: 0;
    transform: translate(0, -51%) translateZ(0);
    z-index: 1
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0:not(.rowWrapperActive-2L7i9f) .nameBodyCell-3JOlnK > * {
    flex-flow: column
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .row-ZLfFhY {
    min-height: 101%;
    border: none !important;
    margin: 0;
    display: flex;
    flex-flow: column;
    box-sizing: border-box
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .bodyCell-9xKjWE {
    min-width: 100%;
    top: 80px;
    padding: 0;
    line-height: normal;
    align-items: center;
    justify-content: center
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .bodyCell-9xKjWE > * {
    min-height: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .nameBodyCell-3JOlnK > * {
    align-items: center
}

#app-mount .nameCellText-1mpqtF {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .nameBodyCell-3JOlnK .nameCellInfo-11WjkQ,
.nameCellText-1mpqtF {
    max-width: 160px;
    text-shadow: 0 2px 5px #000
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .platformCell-XyBBs6,
#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .lastPlayedCell-2arbtc {
    min-height: 17px;
    max-height: 17px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .platformCell-XyBBs6 > *,
#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .lastPlayedCell-2arbtc > * {
    font-size: .8em;
    font-weight: 600;
    text-transform: uppercase
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .nameCellNew-3SokLB {
    color: #c034ff;
    font-size: .75rem;
    min-height: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .actionsCell-1awtNi {
    position: relative;
    left: 8px;
    top: 60px;
    visibility: hidden;
    animation: slidedown ease .6s;
    transition: visibility .4s ease
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f .actionsCell-1awtNi {
    top: 25px;
    left: 10px;
    visibility: visible;
    animation: slideup .6s ease
}

#app-mount .gameLibrary-TTDw4Y .actionIcon-2EtGTr {
    opacity: 1
}

#app-mount .gameLibrary-TTDw4Y .settingIcons-3QYa5E {
    margin-right: 0;
    min-width: 10px
}

#app-mount .gameLibrary-TTDw4Y .buttonText-13IoY7 {
    padding: 2px 6px
}

#app-mount .gameLibrary-TTDw4Y .actionButtonSize-1Znp1q {
    height: 22px;
    min-width: 40px;
    left: 10px
}

#app-mount .gameLibrary-TTDw4Y .buttonWrapper-3hUFmE {
    height: 65%
}

#app-mount .gameLibrary-TTDw4Y .icon-1IKq3C,
#app-mount .gameLibrary-TTDw4Y .textCell-1aBIUP {
    color: #fff;
    background-image: linear-gradient(90deg, transparent, transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), transparent, transparent)
}

#app-mount .sideBar-2_lxpG .lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: rgba(99, 99, 99, 0.7);
    color: #fff;
    width: 0;
    left: 25px
}

#app-mount .sideBar-2_lxpG .lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: rgba(31, 154, 9, 0.7)
}

#app-mount .sideBar-2_lxpG .large-1DtyYQ {
    height: 90px;
    width: 90px
}

#app-mount .body-1SVoBw .carouselPagination-30iWH5 {
    width: 50%;
    left: 90px
}

#app-mount .gameName-1W6Ym- {
    color: #fff;
    font-size: 1em
}

#app-mount .publisher-2ZxPEd {
    border-bottom: none;
    color: #ddd
}

#app-mount .gamePreview-9weYR2 {
    background-color: rgba(0, 0, 0, 0.9)
}

#app-mount .body-1SVoBw {
    background-color: rgba(0, 0, 0, 0)
}

#app-mount .summary-2pfBY6 {
    color: rgb(246, 246, 247);
    background-color: rgba(0, 0, 0, 0.5)
}

#app-mount .news-2KwXHF,
#app-mount .newsLink-38Naqi:hover {
    background-color: rgba(0, 0, 0, 0)
}

#app-mount .background-3zYSQO,
#app-mount .overlay-n52Tzn {
    -webkit-mask: none;
    mask: none
}

#app-mount .background-3zYSQO {
    height: 100%;
    opacity: .8
}

#app-mount .body-3NySJS {
    text-shadow: 1px 1px 5px #000
}

.subtitle-rPfx7J,
.title-1oZsbs,
.description-13oVu5 {
    color: #eee
}

.gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .row-ZLfFhY {
    background: rgba(0, 0, 0, 0.7) !important;
}


#app-mount .gameLibrary-TTDw4Y .rowBackground-3MeNoN {
    filter: none;
    -webkit-mask: none;
    width: 304px;
    animation: backgroundIn .5s forwards !important;
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .nameBodyCell-3JOlnK .nameCellInfo-11WjkQ {
    position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: -52px;
    transition: all .4s ease-in-out;
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f .nameBodyCell-3JOlnK .nameCellInfo-11WjkQ {
    bottom: -60px;
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .gameIcon-gg34Dz {
    position: absolute;
    top: -25px;
    height: 50px;
    width: 50px;
    background-size: 100%;
    border-radius: 4px;
    margin: 0 5px 5px 0;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
    transform: translateX(0);
    transition: all .4s ease-in-out;
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f .gameIcon-gg34Dz {
    transform: translateX(-150%);
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f .settingIcons-3QYa5E {
    transform: translateY(-180%);
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f .actionButtonSize-1Znp1q {
    transform: translateY(-170%);
}

@keyframes slideup {
    from {
        transform: translate(0, 100%)
    }
}

@keyframes slidedown {
    from {
        transform: translate(0%, -30%)
    }
}

@keyframes backgroundIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

/* Friends Grid V3 */
@import url('http://anti-betterdocs.github.io/BlockBetterDocs/code.css');


.friendsTable-133bsv .scroller-2FKFPG > div:not(.friendsRow-2yicud),
.friendsTable-133bsv .scroller-2FKFPG {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.friendsRow-2yicud {
    position: relative;
    display: block !important;
    height: 145px !important;
    width: 250px;
    margin: 1.8% !important;
    padding: 0 !important;
    border-radius: 3px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    animation: friendGridFade .75s ease;
    transition: 250ms ease all, 350ms ease background-color;
}

.friendsTable-133bsv .friendsTableHeader-32yE7d {
    display: none;
}

.friendsRow-2yicud:active {
    transform: scale(.95);
}

.friendsRow-2yicud:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5) !important;
}

.friendsRow-2yicud .friendsColumnName-1zBOKm .discord-tag {
    position: absolute;
    display: block;
    top: 30px;
    left: 64px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    overflow: visible;
    transition: .15s ease color;
}

.friendsRow-2yicud:hover .friendsColumnName-1zBOKm .username {
    color: rgba(255, 255, 255, 0.9);
}

.friendsColumnName-1zBOKm .discriminator {
    visibility: visible !important;
    position: absolute;
    top: 15px;
    left: 0;
    color: rgba(255, 255, 255, 0.3);
    opacity: 1 !important;
    transition: .15s ease color;
}

.friendsRow-2yicud:hover .friendsColumnName-1zBOKm .discriminator {
    color: rgba(255, 255, 255, 0.5);
}

.friendsColumnName-1zBOKm {
    width: 100%;
}

.friendsRow-2yicud .avatarSmall--gkJKA {
    height: 44px;
    width: 44px;
    margin-left: 10px !important;
    margin-top: 30px !important;
}

.friendsRow-2yicud .inner-1W0Bkn::after {
    content: '';
    position: absolute;
    top: -30px;
    left: -10px;
    height: 145px;
    width: 250px;
    z-index: -1;
    background: inherit;
    filter: blur(18px) brightness(.65);
    transition: 500ms ease transform, 350ms ease filter;
}

.friendsTable-133bsv .friendsRow-2yicud:hover .friendsColumnName-1zBOKm .avatarSmall--gkJKA .inner-1W0Bkn::after {
    transform: scale(1.25);
}

.friendsColumnActions-1LT3_M {
    position: absolute;
    top: 65%;
    left: 10px;
    bottom: 0 !important;
    visibility: visible !important;
}

.friendsColumnGuilds-2we6jb {
    margin-top: 2px !important;
    margin-left: 8px !important;
}

.friendsTable-133bsv .iconSizeSmall-3aWgx9,
.friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO {
    height: 20px !important;
    width: 20px !important;
    margin: 2px !important;
    font-size: 9px;
}

.friendsTable-133bsv .friendsColumnGuilds-2we6jb a + a {
    margin: 0 !important;
}

.friendsColumnActions-1LT3_M .friendsActionRemove-qu8nnl {
    background-color: #902A2A !important;
}

.friendsAction-__WNE9:hover {
    opacity: 1 !important;
}

.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumn-eVHFqJ + .friendsColumn-eVHFqJ {
    margin: 0;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-mz5rqq,
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 {
    position: absolute;
    height: 18px !important;
    width: 100% !important;
    top: 0;
    margin-right: 0 !important;
    justify-content: center;
    opacity: .8;
    border-radius: 3px 3px 0 0 !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .statusText-2F9zIF {
    position: absolute;
    color: rgba(255, 255, 255, 075);
    font-weight: 500 !important;
    font-size: 11px;
    line-height: 18px;
    top: 0;
}

.friendsTable-133bsv div[style*="height: 0"]:last-child {
    height: 10% !important;
}

@keyframes friendGridFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-mz5rqq[aria-label="Online"] {
    background: #43b581;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm {
    z-index: 100 !important;
    position: relative;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-mz5rqq[aria-label="Online"]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    opacity: .35;
    background: #43b581;
    z-index: -1;
    pointer-events: none;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-mz5rqq[aria-label="Idle"] {
    background: #faa61a;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-mz5rqq[aria-label="Idle"]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    opacity: .35;
    background: #faa61a;
    z-index: -1;
    pointer-events: none;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-mz5rqq[aria-label="Do Not Disturb"] {
    background: #f04747;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-mz5rqq[aria-label="Do Not Disturb"]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    opacity: .35;
    background: #f04747;
    z-index: -1;
    pointer-events: none;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-mz5rqq[aria-label="Offline"] {
    background: #636b75;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-mz5rqq[aria-label="Offline"]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    opacity: .35;
    background: #636b76;
    z-index: -1;
    pointer-events: none;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-mz5rqq[aria-label="Streaming"] {
    background: #643da7;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .status-mz5rqq[aria-label="Streaming"]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    opacity: .35;
    background: #643da7;
    z-index: -1;
    pointer-events: none;
}

.friendsTable-133bsv .friendsRow-2yicud .discordTag-1Hozyw .discriminator-1Ro5o1 {
    visibility: visible !important;
    position: absolute;
    top: 40px;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    cursor: pointer;
    height: 30px !important;
    width: 30px !important;
    border-radius: 10%;
    color: var(--interactive-normal);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 10px;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9[aria-label="Remove Friend"] {
    background-color: #6C2929;
    height: 30px !important;
    width: 30px !important;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9[aria-label="Start Voice Call"] {
    background-color: #2E7E5A;
    height: 30px !important;
    width: 30px !important;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9[aria-label="Start Video Call"] {
    background-color: #2E7E5A;
    height: 30px !important;
    width: 30px !important;
}
